<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myProfile" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myProfile" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myProfile" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myProfile" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Michael Ahari</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->


  <!--google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300|Oswald|Ubuntu|Ubuntu+Condensed" rel="stylesheet">

</head>
<body ng-cloak>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div class="cd-fixed-bg cd-bg-1" ng-controller="appController"
     ng-init="ended=false; $scope.isNavCollapsed=true" ng-cloak>
  <div id="home" class="container">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="static/me-small.jpg" style="height:30px; border-radius:15px">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" id="main-menu">
        <ul class="nav navbar-nav navbar-right">
          <li ng-repeat="x in ['Intro', 'Hackathons & Projects', 'Photography', 'Contact']" ng-class="{'active-item': $root.getTargetObject(x)['active']}" ng-init="activeItem = false">
            <a ng-click="$root.setTargetActive(x)" ng-href="{{ '#/index#' + $root.getTargetObject(x)['target'] }}" du-smooth-scroll duration="1500">{{x}}<span class="sr-only"></span></a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="shaped-bottom shaped-navbar"></div>

  <div class="container" style="height:100%; padding-top:110px;">
    <div class="row">
      <div class="col-md-12">
          <img class="center-block" id="me" src="static/me-small.jpg">
      </div>
      <div class="col-md-12">
          <h1 id="welcome">Michael Ahari</h1>
      </div>
      <div class="col-md-12">
          <li style="width:210px; margin:auto">
            <td><a href="https://www.facebook.com/44MichaelAhari" target="_blank"><img style="height:40px" src="static/facebook_logo.png"/></a></td>
            <td><a href="https://www.instagram.com/michaelahari_/" target="_blank"><img style="height:40px; margin-left:10px" src="static/instagram-new-min.png"/></a></td>
            <td><a href="https://uk.linkedin.com/in/michael-ahari-tech" target="_blank"><img style="height:40px; margin-left:10px" src="static/linkedin_logo.png"/></a></td>
            <td><a href="https://github.com/MichaelAhari" target="_blank"><img style="height:40px; margin-left:10px" src="static/github_logo.png"/></a></td>
            <!--<td><a href="https://mail.google.com/mail/?view=cm&fs=1&to=michaelahari1@gmail.com&su=Hey Michael!&body=Nice to meet you!" target="_blank"><img style="height:40px; margin-left:10px" src="static/gmail_logo.png"/></a></td>-->
          </li>
      </div>
    </div>
  </div>

  <div ui-view style="height:100%"></div>

</div>

</div>


<!--<div>Angular seed app: v<span app-version></span></div>-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="app.js"></script>
<script src="index/index.module.js"></script>
<script src="index/index.controller.js"></script>
<script src="intro/intro.module.js"></script>
<script src="intro/intro.controller.js"></script>
<script src="intro/intro.directive.js"></script>
<script src="experience/experience.module.js"></script>
<script src="experience/experience.controller.js"></script>
<script src="experience/experience.directive.js"></script>
<script src="hackathons-projects/hackathons-projects.module.js"></script>
<script src="hackathons-projects/hackathons-projects.controller.js"></script>
<script src="hackathons-projects/hackathons-projects.directive.js"></script>
<script src="photo/photo.module.js"></script>
<script src="photo/photo.controller.js"></script>
<script src="photo/photo.directive.js"></script>
<script src="contact/contact.module.js"></script>
<script src="contact/contact.controller.js"></script>
<script src="contact/contact.directive.js"></script>



<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
